.choice-box {
    display:flex;
    background-color: #5b00ec;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 8px;
}


.choice-num {
    color: white;
    padding-right: 5px;
}

.choice-text {
    color: white;
}

/* hides future questions */
#question2 {
    display: none;
}
#question3 {
    display: none;
}
#question4 {
    display: none;
}
#question5 {
    display: none;
}
#endgame {
    display: none;
}

/* for smaller screens */
@media screen and (max-width: 768px) {

    section {
        padding: 50px;
    }
    
}